.container{
  width: 350px;
  height: 40%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  background: #fff;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 7px 50px;
}
.container hr{
   height: 2px;
   border: none;
   background: #707070;
}
.container h2{
  font-size: 27px;
  font-weight: 500;
}
.container ul li{
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 15px;
  padding-bottom: 5px;
  border : 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
}
.container .btu{
  margin: auto;
  width: 150px;
  height: 50px;
  background: #553f9a;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}
.container .index{
  margin: auto;
  font-size: 18px;
  position: relative;
  top:-7px;
}
.container .correct{
  background: #62dfad;
  border-color: #03835f;
}
.container .wrong{
  background:#fd7c7c;
  border-color: #e73131;
}
